.main-heading{
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 6.875rem;
    margin-bottom: 1.25rem;
    .para{
        font-size: 1.25rem;
        color: #313841;
        margin-bottom: 5.625rem;
    }
}
