




.header-sec{
    background-color: #fcdb00;
    // height: 100vh;
}

.navbar{
    margin-bottom: 4.375rem;
}
 ul li {
    margin-right: 3.5rem;
    font-size: 22px;
    font-weight: bold;
 }












