<section class="contact py-5">  
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4 class="mb-3 heading">Keep in touch with us</h4>
                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.</p>
            </div>   
            <div class="col-md-8 form  offset-md-2">
                <input type="text" class="form-control"  placeholder="Enater Your Email To Udate">
            </div>
            <div class="col-md-2 form">
                <button class="btn btncolor btn-success">Submit</button>

            </div>   
        </div>
        <div class="row justify-content-center">
            <ul class="social-Icons">
                <li>
                    <a href="https://www.facebook.com/">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/login">
                        <i class="fa-brands fa-twitter"></i>                   
                     </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/">
                        <i class="fa-brands fa-square-instagram"></i>                             
                   </a>
                </li>
                <li>
                    <a href="https://in.pinterest.com/">
                        <i class="fa-brands fa-pinterest"></i>           
                    </a>
                </li>
             </ul>
        </div>
    </div>
</section>