<div class="row">
    <div class="col-md-4 mb-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="thumIcon text-center">
                    <i class="fa-regular fa-rectangle-xmark fa-2x"></i>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="thumbinfo">
                    <h3 class="text-capitalize">fully responsive</h3>
                    <p class="thumbnailpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Praesent vitae eros eget tellus tristique bibendum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="thumIcon text-center">
                    <i class="fa-regular fa-lemon fa-2x"></i>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="thumbinfo">
                    <h3 class="text-capitalize">fully responsive</h3>
                    <p class="thumbnailpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Praesent vitae eros eget tellus tristique bibendum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="thumIcon text-center">
                    <i class="fa-regular fa-folder fa-2x"></i>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="thumbinfo">
                    <h3 class="text-capitalize">fully responsive</h3>
                    <p class="thumbnailpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Praesent vitae eros eget tellus tristique bibendum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="thumIcon text-center">
                    <i class="fa-solid fa-code fa-2x"></i>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="thumbinfo">
                    <h3 class="text-capitalize">fully responsive</h3>
                    <p class="thumbnailpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Praesent vitae eros eget tellus tristique bibendum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="thumIcon text-center">
                    <i class="fa-regular fa-envelope  fa-2x"></i>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="thumbinfo">
                    <h3 class="text-capitalize">fully responsive</h3>
                    <p class="thumbnailpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Praesent vitae eros eget tellus tristique bibendum.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="thumIcon text-center">
                    <i class="fa-regular fa-bookmark fa-2x"></i>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="thumbinfo">
                    <h3 class="text-capitalize">fully responsive</h3>
                    <p class="thumbnailpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Praesent vitae eros eget tellus tristique bibendum.</p>
                </div>
            </div>
        </div>
    </div>
</div>