<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="footerlink">
                    <li>HALOVIETNAM LTD</li>
                    <li>66, Dang Van ngu, Dong Da</li>
                    <li>Hanoi, Vietnam</li>
                    <li>
                        <a href="mailto:asifattar3570@gmail.com">asifattar3570@gmail.com</a>
                    </li>
                    <li>
                        <a href="tel:8625997232">8625997232</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1 offset-md-1">
                <ul class="footerlink">
                    <li>Examples</li>
                    <li>shop</li>
                    <li>License</li>
                </ul>
            </div>
            <div class="col-md-1 offset-md-1">
                <ul class="footerlink">
                    <li>contact</li>
                    <li>about</li>
                    <li>privacy</li>
                    <li>terms</li>

                </ul>

            </div>
            <div class="col-md-1 offset-md-1">
            <ul class="footerlink">
                <li>download</li>
                <li>support</li>
                <li>document</li>
            </ul>
        </div>
             <div class="col-md-1 offset-md-1">
                <ul class="footerlink">
                    <li>media</li>
                    <li>blog</li>
                    <li>forums</li>
                </ul>
            </div>


        </div>
    </div>
</section>